/* Importing font */
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(45deg, #73a6c6, #366cd8, #7835d6);
    margin: 0;
    padding: 0;
    height: 100vh;
    color:white;
    font-family: 'Muli', sans-serif;
    overflow: hidden;
}

canvas {
    border: 2px solid white;
}

.help,
.games-speed-label,
.score-container {
    padding: 0;
    margin: 0;
    font-size: calc(1vw + 0.7rem);
}

#gameSpeed {
    width: 200px;
    color: white;
    border: none;
    background-color: transparent;
    font-size: calc(0.7vw + 0.7rem);
    font-family: 'Muli', sans-serif;
}

/*HIDE ARROWS ON INPUT NUMBER FIELDS*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}